{% extends 'base.html' %}

{% block title %}Search Business{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="text-center">Search for a business below</h1>
            <p class="text-center">Only registered users can leave reviews for businesses</p>
            <form method="POST" action="{{ url_for('search_business') }}">
                {{ form.hidden_tag() }}
                {% include "_form.html" %}
                <button type="submit" class="btn btn-search w-100">Search</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}





